$desktop: 768px;
$monitor: 1024px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin monitor {
    @media (min-width: #{$monitor}) {
        @content;
    }
}

#facts {
    background-color: #fafafa;
    padding: 3vw 0;

    @include desktop {
        background-color: #EEEEEE;
        #facts-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .fact {
        border: 1px solid #C4C4C4;
        border-radius: 10px;
        background-color: white;
        margin: 4vw 5vw;
        padding: 2vw;

        @include desktop {
            margin: 2vw;
            padding: 1vw;
            max-width: 39%;
        }
        @include monitor {
            max-width: 33%;
        }

        .title {
            font-weight: bold;
            text-align: center;
            margin: 2vw;
            text-transform: capitalize;
            @include desktop {
                margin: .5vw;
            }
        }
        .desc {
            font-weight: 300;
            display: flex;
            align-items: center;
            justify-content: center;
            .variable {
                text-align: center;
            }
            span {
                max-width: 50%;
            }
        }
        .desc:nth-child(3) {
            .value {
                font-weight: bold;
            }
        }
    }

    .fact:nth-child(3) {
        @include desktop {
            order: 3;
            flex: 1 0 80%;
            margin: 1vw 2vw 2vw;
            padding: 1vw 1vw 1.5vw;
        }
        .desc {
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include monitor {
                display: unset;
            }

            .variable, .value {
                margin-right: .5vw;
            }
        }
        .desc:nth-child(2) {
            @include monitor {
                margin-left: 5.5vw;
            }
        }
        .desc:nth-child(3) {
            margin-bottom: 3vw;
            @include desktop {
                margin-bottom: 1vw;
            }
            .variable, .value {
                text-decoration: underline;
                @include monitor {
                    text-decoration: none;
                }
            }

            .value {
                text-align: center;
                //margin-left: 4vw;
            }
        }
    }

    #tag-line {
        width: 80%;
        margin: 6vw auto;
        text-align: center;
        font-weight: 300;
        @include desktop {
            margin: 1vw auto;
            width: 60%;
        }

        @include monitor {
            font-size: 1.25vw;
        }
    }
}
