$colors: (
    // navBar
        alabaster: #FAFAFA, mirage: #1B2531, purple: #A600C0,
        curiosBlue: #27A1DA,
    // content
        deepSeaGreen: #0B4B68, deepSeaGreen56: rgba(11, 75, 104, 0.56),
        mirage80: rgba(27, 37, 49, 0.8), mirage90: rgba(27, 37, 49, 0.9),
        mirage64: rgba(27, 37, 49, 0.64),mirage74: rgba(27, 37, 49, 0.74),
        mirage25: rgba(27, 37, 49, 0.25), gallery: #ECECEC,
    // borders and accordion
        silverSand: #BDBFC3, concrete: #F3F3F3, mercury: #E2E2E2,
    // footer
        nobel: #B7B7B7,
    // stars
        oldGold: #D4AF37, silver: #C4C4C4,
    // space
        white: #FFFFFF
);

@function color($name) {
    @return map_get($colors, $name);
}

$desktop: 800px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

#landing {
    display: flex;
    flex-wrap: wrap;
    @include  desktop {
        padding: 5vw 4vw;
        background-image: url("../assets/images/payment.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        flex-wrap: nowrap;
    }
}

.mobile-landing {
    width: 100%;
    height: auto;
    @include desktop {
        display: none;
    }
}

#landing > div {
    order: 3;
    flex: 1 0 90%;

    @include desktop {
        order: unset;
        flex: unset;
        width: 31.5%;
    }
}

.landing-image {
    display: none;
    @include desktop {
        width: auto;
        height: 100%;
        display: block;
    }
}

#greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    text-align: center;
    color: color(deepSeaGreen);

    @include desktop {
        padding: 0 2vw;
    }

    h2 {
        text-transform: uppercase;
        font-size: 6vw;
        @include desktop {
            font-size: 2.5vw;
        }
        margin: 0;
    }

    p {
        width: 60vw;
        font-size: 4.5vw;
        margin: 1vw;
        @include desktop {
            font-size: 1.5vw;
            width: unset;
            margin: .5vw;
        }
        font-weight: 300;
    }

    .bold {
        font-weight: bold;
    }

    #light-box {
        background-color: color(alabaster);
        padding: 0 3vw 2vw;
        border-radius: 5px;
        border: 1px solid color(mercury);
        margin: 2vw 0;
        @include desktop {
            margin: 0;
            padding: 0 1vw 1vw;
        }

        p {
            margin: 1.5vw;
        }

        .services {
            background-color: color(curiosBlue);
            color: color(white);
        }
    }
}


